# IntelliJ
.idea/
*.iml

# Build
/out/
/target/

# System Files
.DS_Store
Thumbs.db

# Environments
*.env

# Temp folder for compiled classes
temp/

# Google Calendar credentials
friendly-paw-calendar.json

# Google OAuth2 tokens (criado automaticamente)
tokens/
src/main/resources/credentials.json